<?xml version="1.0"?>
<configuration>
  <connectionStrings>
  <add name="ModelMadness" connectionString="metadata=res://*/DataLayer.ModelMadness.csdl|res://*/DataLayer.ModelMadness.ssdl|res://*/DataLayer.ModelMadness.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CHRIS-M6500;Initial Catalog=MarketMadness;Persist Security Info=True;User ID=sa;Password=qwe123;MultipleActiveResultSets=True;Connect Timeout=0&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
